/* Font sizing (px  pct)
10   77
11	 85
12	 93
13	 100
14	 108
15	 116
16	 123.1
17	 131
18	 138.5
19	 146.5
20	 153.9
21	 161.6
22	 167
23	 174
24	 182
25	 189
26	 197
*/

body, html
  background-color #fff
  padding 4%
  font 108% 'Linden Hill', 'Lucinda Grande', Helvetica, Arial, sans-serif
  color #000

h1
h2
h3
h4
h5
h6
  font-family 'Electrolize', sans-serif
  margin-bottom 0.25em
  font-weight normal

h1
  font-size 182%

h2
  font-size 153.9%

h3
  font-size 138.5%

h4
  font-size 123.1%

h5
h6
  font-size 116%

a
  color #00b7ff

form
  margin-top 1em
  padding 1em
  border 1px dotted #888
  border-radius 10px
  -moz-border-radius 10px
  -webkit-border-radius 10px

label
input
input[type="text"]
select
textarea
  display block
  width 80%
  margin-bottom 1em

label
  font-weight bold
  margin-bottom 0

input.title
  font-size 138.5%

textarea
  height 6em

form
  display none

.editing-form form
  display block

.editing-display
  display none

.actions
  text-align right
  font-size 85%

.header
  border-bottom 1px dotted #004

h1#title
  float left
  margin-top 1px
  margin-bottom 0
  width 500px
  white-space nowrap

nav#menu
  float left
  clear left
  margin-left 2em

  ul>li
    list-style-type none
    display block
    float left
    margin-right 1em
    font-family 'Electrolize', sans-serif

#userbox
  float right
  font-size 85%
  margin-top 15px

  button
  input
    display inline
    margin-bottom 0

  button
    font-size 85%

  input
    width 8em

#main
  clear both

#templates
  display none

#home
  padding-top 1em

  .picture
    float right
    min-width 30%
    max-width 50%
    text-align center
    padding 5px 10px

  #about
    float left
    width 58%

  #links
    float right
    width 40%

  .alt
    color #666

  .alt2
    color #888

  .header.top
    margin-top 0em
    margin-left 0em

  .top
  dl
    margin-left 35px

  dt
    float left
    width 5em
    color #00b7ff


#blog
  padding-top 1em

  ol.posts>li
    list-style-type none
    border-bottom 1px solid #0bf
    padding-bottom 1em

    h2 a
      text-decoration none

    .byline
    .tagline
    .permalink
      font-size 93%
      color #444
      padding 0 1em

    .editline
      text-align right
      margin-top -1em
      font-size 77%
      color #888
      padding 0 1em


    .content
      padding 1em

  .blog-draft
    border 1px dotted #888
    border-radius 10px
    -moz-border-radius 10px
    -webkit-border-radius 10px
    background-color #ccc
    padding 1em
    padding-top 0

#cv
  padding-top 1em

  ol.sections>li
    clear both
    list-style-type none
    border-bottom 1px solid #0bf
    padding-bottom 1em
    .updated
      text-align right
      font-size 77%
      color #888

    .content
      padding 1em
      padding-bottom 0

      ul
      ol
        margin-top 0


#gametheory
  padding-top 1em
