body, html
  background-color #ddd
  padding 50px
  font 14px 'Linden Hill', 'Lucinda Grande', Helvetica, Arial, sans-serif
  color #000

h1
h2
h3
h4
h5
h6
  font-family 'Electrolize', sans-serif


a
  color #00b7ff

#userbox
  float right

#blog
  li
    list-style-type none
    border-bottom 1px solid #0bf
    padding-bottom 1em

    .byline
      font-size 85%
      color #444
