extends layout

block menuarea
  nav#menu
    ul
      li
        a(href="#") Home
      li
        a(href="#!blog") Blog
      li
        a(href="#!cv") CV
      li
        a(href="#!gametheory") Game Theory
      li
        a(href="/visualizations/") Visualizations

block userarea
  #userbox
    script(type="text/x-handlebars")
      {{view User.UserView}}

block maincontent
  #home
    img.picture(src="images/picture.png", alt="Photograph")

    h2 Gregory McWhirter
    h3.alt.top University of California, Irvine
    h4.alt2.top Department of Logic and Philosophy of Science

    dl
      dt Office:
      dd SST 704
      dt E-Mail:
      dd gmcwhirt -at- uci -dot- edu
    .clearfix
    #about
      h3.header.top Research Interests
      p
        | My interests cover several areas including evolutionary game theory,
        | philosophy of biology, mathematics, philosophy of mathematics
        | (especially applied mathematics), philosophy of logic, and general
        | philosophy of science.
      h3.header Current Projects
      p
        | I have lately been investigating relationships between deception and
        | combinatorial communication, as well as generalizations of correlated
        | equilibrium.
    #links
      h3.header.top Files
      ul
        li
          a(href="files/cv.pdf") Curriculum Vitae
          | &nbsp;(PDF)
      h3.header Links and Social Networks
      ul
        li
          a(href="http://github.com/gsmcwhirter") GitHub
        li
          a(href="http://twitter.com/#!/gsmcwhirter") Twitter
        li
          a(href="http://www.mendeley.com/profiles/gregory-mcwhirter/") Mendeley
        li
          a(href="http://philpapers.org/profile/2940") PhilPapers
        li
          a(href="http://www.linkedin.com/in/gsmcwhirter") LinkedIn
        li
          a(href="http://uci.academia.edu/GregoryMcWhirter") Academia.edu
  #blog
    script(type="text/x-handlebars")
      {{view Blog.BlogView}}

  #cv
    script(type="text/x-handlebars")
      {{view CV.CVView}}

  #gametheory

block scripts
  script(type="text/javascript")
    var disqus_shortname = 'ideafreemonoid';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();


