node_modules
builder/config.live.js
couchapp/attachments/js/*
couchapp/attachments/*.html
couchapp/attachments/visualizations
couchapp/attachments/css/*
couchapp/css/layout.css
couchapp/attachments/ifm-min.css
couchapp/css/layout-min.css
