extends ../layouts/layout

block title
  title News

block maincontent
  #blog
    script(type="text/html")
      {{#collection contentBinding="Blog.postsController" tagName="ul"}}
      <h2>{{content.title}}</h2>
      <div class="byline">{{content.authorsString}}</div>
      {{/collection}}

block scripts
  script(type="text/javascript", src="js/site.blog.js")
