extends ../layouts/layout

block menuarea
  nav#menu
    ul
      li
        a(href="#") Home
      li
        a(href="#!blog") Blog
      li
        a(href="#!cv") CV
      li
        a(href="#!gametheory") Game Theory
      li
        a(href="/visualizations/") Visualizations

block userarea
  #userbox
    script(type="text/x-handlebars")
      {{view User.UserView}}

block maincontent
  #home
    h2.alt Gregory McWhirter
    h3.top.alt2 University of California, Irvine
    h4.top.alt Graduate Student, Department of Logic and Philosophy of Science

    dl
      dt Office
      dd SST 704
      dt E-Mail
      dd gmcwhirt -at- uci -dot- edu

    #about
      h3.header.alt.loud Research Interests
      p
        | My interests cover several areas including evolutionary game theory,
        | philosophy of biology, mathematics, philosophy of mathematics
        | (especially applied mathematics), philosophy of logic, and general
        | philosophy of science.
      h3.header.alt.loud Current Projects
      p
        | I have lately been investigating relationships between deception and
        | combinatorial communication, as well as generalizations of correlated
        | equilibrium.
    #links
      h3.header.alt.loud Files
      ul
        li
          a(href="files/cv.pdf") Curriculum Vita
          | (PDF)
      h3.header.alt.loud Links and Social Networks
      ul
        li
          a(href="http://github.com/gsmcwhirter/gametheory") GitHub Game Theory Code
        li
          a(href="http://www.mendeley.com/profiles/gregory-mcwhirter/") Mendeley
        li
          a(href="http://philpapers.org/profile/2940") PhilPapers
        li
          a(href="http://www.linkedin.com/in/gsmcwhirter") LinkedIn
        li
          a(href="http://uci.academia.edu/GregoryMcWhirter") Academia.edu
  #blog
    script(type="text/x-handlebars")
      {{view Blog.BlogView}}

  #cv
    script(type="text/x-handlebars")
      {{view CV.CVView}}

  #gametheory

block templates
  script(type="text/x-handlebars", data-template-name="blog")
    .actions
      {{view Blog.AddPostLink}}
    ol.posts
      {{#each Blog.postsController.content}}
      li
        {{view Blog.BlogPostView contentBinding="this" classBinding="isDraft:blog-draft"}}
      {{/each}}
    {{#if hasManyPages}}
    .pagination
      a(href="#!blog/1") &laquo;first
      {{#each pagesLinkData}}
      | <a {{bindAttr href="pageHref"}}>{{page}}</a>
      {{/each}}
      <a {{bindAttr href="lastHref"}}>last&raquo;</a>
    {{/if}}

  script(type="text/x-handlebars", data-template-name="blog-add-post-link")
    {{#if currentUser.is_connected}}
    a(href="#") Add New Post
    {{/if}}

  script(type="text/x-handlebars", data-template-name="blog-post")
    {{view Blog.EditFormView contentBinding="content" classBinding="content.isEditing:editing-form"}}
    {{view Blog.PostDisplayView contentBinding="content" classBinding="content.isEditing:editing-display"}}
    {{#if showComments}}
    #disqus_thread
    a.dsq-brlink(href="http://disqus.com")
      | blog comments powered by
      span.logo-disqus Disqus
    {{/if}}

  script(type="text/x-handlebars", data-template-name="blog-post-display")
    {{#with content}}
    h2
      | <a {{bindAttr href="permalink"}}>{{title}}</a>
    .byline Posted {{formattedDate}} by {{{formattedAuthors}}}
    .tagline Tags: {{{formattedTags}}}
    .content {{{formattedContent}}}
    .editline
      {{editString}}
    {{/with}}

  script(type="text/x-handlebars", data-template-name="blog-post-form")
    form
      label Title
      {{view Ember.TextField name="title" valueBinding="content.title" class="title"}}
      label Tags
      {{view Ember.TextField name="tagString" valueBinding="content.tagString"}}
      label Content
      {{view Ember.TextArea name="content_raw" valueBinding="content.content_raw"}}
      {{#view saveButton contentBinding="content"}}Save{{/view}}
      {{#unless content.is_published}}
      {{#view publishButton contentBinding="content"}}Publish{{/view}}
      {{/unless}}

  script(type="text/x-handlebars", data-template-name="cv")
    ol.sections
      {{#each CV.sectionsController.contentSorted}}
      li
        {{view CV.SectionView contentBinding="this"}}
      {{/each}}
    .actions
      {{view CV.AddSectionLink}}

  script(type="text/x-handlebars", data-template-name="cv-section")
    .cvsection
      {{view CV.EditFormView contentBinding="content" classBinding="content.isEditing:editing-form"}}
      {{view CV.SectionDisplayView contentBinding="content" classBinding="content.isEditing:editing-display"}}

  script(type="text/x-handlebars", data-template-name="cv-section-display")
    h2 {{content.title}}
    .content {{{content.formattedContent}}}
    .updated Last updated {{content.formattedDate}}

  script(type="text/x-handlebars", data-template-name="cv-section-form")
    form
      label Title
      {{view Ember.TextField name="title" valueBinding="content.title" class="title"}}
      label Content
      {{view Ember.TextArea name="content_raw" valueBinding="content.content_raw"}}
      {{#view saveButton contentBinding="content"}}Save{{/view}}

  script(type="text/x-handlebars", data-template-name="cv-add-section-link")
    {{#if currentUser.is_connected}}
    a(href="#") Add New Section
    {{/if}}

  script(type="text/x-handlebars", data-template-name="user")
    {{#if currentUser.is_connected}}
    {{view userLogoutView currentUserBinding="currentUser"}}
    {{else}}
    {{view userLoginView currentUserBinding="currentUser"}}
    {{/if}}

  script(type="text/x-handlebars", data-template-name="user-login")
    {{view usernameView id="login-username" name="username"}}
    {{view passwordView id="login-password" name="password"}}
    {{#view loginButton}}Log In{{/view}}

  script(type="text/x-handlebars", data-template-name="user-logout")
    {{currentUser.name}}
    {{#view User.LogoutButton}}Log Out{{/view}}

  #disqus_thread

block scripts
  script(type="text/javascript")
    var disqus_shortname = 'ideafreemonoid';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  script(type="text/javascript", src="js/site.api.js")
  script(type="text/javascript", src="js/site.main.js")
  script(type="text/javascript", src="js/site.user.js")
  script(type="text/javascript", src="js/site.blog.js")
  script(type="text/javascript", src="js/site.cv.js")
  script(type="text/javascript", src="js/site.gametheory.js")
  script(type="text/javascript", src="js/site.routes.js")

