extends ../layouts/layout

block title
  | Blog -

block userarea
  #userbox
    script(type="text/x-handlebars")
      {{view User.UserView}}

block menuarea
  nav#menu
    ul
      li
        a(href="#!blog") Blog
      li
        a(href="#!cv") CV
      li
        a(href="#!gametheory") Game Theory
      li
        a(href="/visualizations/") Visualizations

block maincontent
  #blog
    p
      | Under re-development (since I was stupid and forgot to check wheat
      | compatibility before upgrading node to 0.6, and now I want to play
      | around with other stuff).
    script(type="text/x-handlebars")
      {{view Blog.BlogView}}

  #cv
    script(type="text/x-handlebars")
      {{view CV.CVView}}

  #gametheory

block templates
  script(type="text/x-handlebars", data-template-name="blog")
    {{#collection contentBinding="Blog.postsController" tagName="ol" class="posts"}}
    {{view parentView.parentView.blogPostView contentBinding="content"}}
    {{/collection}}

  script(type="text/x-handlebars", data-template-name="blog-post")
    {{#with content}}
    h2 {{title}}
    .byline Posted {{formatDate display_date}} by {{{formatAuthors authors}}}
    .tagline Tags: {{{formatTags tags}}}
    .content {{{parseMarkdown content_raw}}}
    .editline {{editString}}
    |  {{#list edits tagClass="editlist" tagName="ol"}}
    |    Edited on {{edit_date}} by {{author}}
    |  {{/list}}
    {{/with}}

  script(type="text/x-handlebars", data-template-name="cv")
    {{#collection contentBinding="CV.sectionsController" tagName="ol" class="sections"}}
    {{view parentView.parentView.cvSectionView contentBinding="content"}}
    {{/collection}}

  script(type="text/x-handlebars", data-template-name="cv-section")
    {{#with content}}
    .cvsection
      h2 {{title}}
      .content {{{parseMarkdown content_raw}}}
      .updated Last updated {{formatDate last_updated}}
    {{/with}}

  script(type="text/x-handlebars", data-template-name="user")
    {{#if currentUser.is_connected}}
    {{view userLogoutView contentBinding="this"}}
    {{else}}
    {{view userLoginView contentBinding="this"}}
    {{/if}}

  script(type="text/x-handlebars", data-template-name="user-login")
    {{view usernameView id="login-username"}}
    {{view passwordView id="login-password"}}
    {{#view loginButton}}Log In{{/view}}

  script(type="text/x-handlebars", data-template-name="user-logout")
    {{content.currentUser.name}}
    {{#view logoutButton}}Log Out{{/view}}

  script(type="text/x-handlebars", data-template-name="cv-section-form")
    form
      label(for="section-title") Title
      {{view Ember.TextField valueBinding="content.title" class="title" id="section-title"}}
      label(for="section-content") Content
      {{#view Ember.TextArea id="section-content"}}{{content.content_raw}}{{/view}}
      {{#view Ember.Button type="submit"}}Save{{/view}}

block scripts
  script(type="text/javascript", src="js/site.api.js")
  script(type="text/javascript", src="js/site.main.js")
  script(type="text/javascript", src="js/site.user.js")
  script(type="text/javascript", src="js/site.blog.js")
  script(type="text/javascript", src="js/site.cv.js")
  script(type="text/javascript", src="js/site.gametheory.js")
  script(type="text/javascript", src="js/site.routes.js")
