extends ../layouts/layout

block userarea
  #userbox
    script(type="text/x-handlebars")
      {{view User.UserView}}

block menuarea
  nav#menu
    ul
      li
        a(href="#!blog") Blog
      li
        a(href="#!cv") CV
      li
        a(href="#!gametheory") Game Theory
      li
        a(href="/visualizations/") Visualizations

block maincontent
  #blog
    p
      | Under re-development (since I was stupid and forgot to check wheat
      | compatibility before upgrading node to 0.6, and now I want to play
      | around with other stuff).
    script(type="text/x-handlebars")
      {{view Blog.BlogView}}

  #cv
    script(type="text/x-handlebars")
      {{view CV.CVView}}

  #gametheory

block templates
  script(type="text/x-handlebars", data-template-name="blog")
    {{#collection contentBinding="Blog.postsController" tagName="ol" class="posts"}}
    {{view Blog.BlogPostView contentBinding="content"}}
    {{/collection}}
    .actions
      {{view Blog.AddPostLink}}

  script(type="text/x-handlebars", data-template-name="blog-add-post-link")
    {{#if currentUser.is_connected}}
    a(href="#") Add New Post
    {{/if}}

  script(type="text/x-handlebars", data-template-name="blog-post")
    {{view Blog.EditFormView contentBinding="content" classBinding="content.isEditing:editing-form"}}
    {{view Blog.PostDisplayView contentBinding="content" classBinding="content.isEditing:editing-display"}}

  script(type="text/x-handlebars", data-template-name="blog-post-display")
    {{#with content}}
    h2 {{title}}
    .byline Posted {{formattedDate}} by {{{formattedAuthors}}}
    .tagline Tags: {{{formattedTags}}}
    .content {{{formattedContent}}}
    .editline {{editString}}
    |  {{#list edits tagClass="editlist" tagName="ol"}}
    |    Edited on {{edit_date}} by {{author}}
    |  {{/list}}
    {{/with}}

  script(type="text/x-handlebars", data-template-name="blog-post-form")
    form
      label Title
      {{view Ember.TextField name="title" valueBinding="content.title" class="title"}}
      label Slug
      {{view Ember.TextField name="slug" valueBinding="content.slug"}}
      label Tags
      {{view Ember.TextField name="tags_string" valueBinding="content.tags_string"}}
      label Content
      {{view Ember.TextArea name="content_raw" valueBinding="content.content_raw"}}
      {{#view saveButton contentBinding="content"}}Save{{/view}}

  script(type="text/x-handlebars", data-template-name="cv")
    {{#collection contentBinding="CV.sectionsController.contentSorted" tagName="ol" class="sections"}}
    {{view CV.SectionView contentBinding="content"}}
    {{/collection}}
    .actions
      {{view CV.AddSectionLink}}

  script(type="text/x-handlebars", data-template-name="cv-section")
    .cvsection
      {{view CV.EditFormView contentBinding="content" classBinding="content.isEditing:editing-form"}}
      {{view CV.SectionDisplayView contentBinding="content" classBinding="content.isEditing:editing-display"}}

  script(type="text/x-handlebars", data-template-name="cv-section-display")
    h2 {{content.title}}
    .content {{{content.formattedContent}}}
    .updated Last updated {{content.formattedDate}}

  script(type="text/x-handlebars", data-template-name="cv-section-form")
    form
      label Title
      {{view Ember.TextField name="title" valueBinding="content.title" class="title"}}
      label Content
      {{view Ember.TextArea name="content_raw" valueBinding="content.content_raw"}}
      {{#view saveButton contentBinding="content"}}Save{{/view}}

  script(type="text/x-handlebars", data-template-name="cv-add-section-link")
    {{#if currentUser.is_connected}}
    a(href="#") Add New Section
    {{/if}}

  script(type="text/x-handlebars", data-template-name="user")
    {{#if currentUser.is_connected}}
    {{view userLogoutView currentUserBinding="currentUser"}}
    {{else}}
    {{view userLoginView currentUserBinding="currentUser"}}
    {{/if}}

  script(type="text/x-handlebars", data-template-name="user-login")
    {{view usernameView id="login-username"}}
    {{view passwordView id="login-password"}}
    {{#view loginButton}}Log In{{/view}}

  script(type="text/x-handlebars", data-template-name="user-logout")
    {{currentUser.name}}
    {{#view User.LogoutButton}}Log Out{{/view}}

block scripts
  script(type="text/javascript", src="js/site.api.js")
  script(type="text/javascript", src="js/site.main.js")
  script(type="text/javascript", src="js/site.user.js")
  script(type="text/javascript", src="js/site.blog.js")
  script(type="text/javascript", src="js/site.cv.js")
  script(type="text/javascript", src="js/site.gametheory.js")
  script(type="text/javascript", src="js/site.routes.js")
