extends ../layouts/layout

block title
  | Blog -

block userarea
  #userbox
    script(type="text/html")
      {{#view User.UserView}}
      {{#if currentUser.is_connected}}
      |  {{currentUser.name}}
      |  {{#view SC.Button classBinding="isActive"
      |    target="User.userController"
      |    action="logout"}}
      |    Log Out
      |  {{/view}}
      {{else}}
      |  {{view User.UsernameEntry id="login-username" placeholder="Username"}}
      |  {{view User.PasswordEntry id="login-password" placeholder="Password"}}
      |  {{#view SC.Button classBinding="isActive"
      |    target="User.userController"
      |    action="login"}}
      |    Log In
      |  {{/view}}
      {{/if}}
      {{/view}}

block menuarea
  nav#menu
    ul
      li
        a(href="#") Blog
      li
        a(href="#cv") CV
      li
        a(href="#gametheory") Game Theory

block maincontent
  #blog
    p
      | Under re-development (since I was stupid and forgot to check wheat
      | compatibility before upgrading node to 0.6, and now I want to play
      | around with other stuff).
    script(type="text/html")
      {{#collection contentBinding="Blog.postsController" tagName="ul"}}
      {{#with content}}
      |  <h2>{{title}}</h2>
      |  <div class="byline">Posted: {{dateString}} by {{authorString}}</div>
      |  {{#if tagString}}
      |    <div class="tagline">Tags: {{{tagString}}}</div>
      |  {{/if}}
      |  <div class="content">{{{content}}}</div>
      |  {{#if edits.length}}
      |    <div class="editline">{{content.editString}}
      |    {{#list content.edits tagClass="editlist"}}
      |    Edited on {{edit_date}} by {{author}}
      |    </div>
      |    {{/list}}
      |  {{/if}}
      {{/with}}
      {{/collection}}
  #cv
  #gametheory

block scripts
  script(type="text/javascript", src="js/site.user.js")
  script(type="text/javascript", src="js/site.blog.js")
  script(type="text/javascript", src="js/site.cv.js")
  script(type="text/javascript", src="js/site.gametheory.js")
