!!! 5
html(class="no-js", lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="keywords")
    meta(name="description")
    meta(name="author")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    link(rel="shortcut icon", type="image/png", href="favicon.png")

    block title
      title

    link(rel="stylesheet", type="text/css", href="css/reset-min.css")
    link(rel="stylesheet", type="text/css", href="css/base-min.css")
    link(rel="stylesheet", type="text/css", href="css/fonts-min.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Electrolize|Linden+Hill")
    link(rel="stylesheet", type="text/css", href="css/layout.css")

    script(type="text/javascript", src="js/modernizr.custom.js")
  body
    #container
      header
        #userbox
          script(type="text/html")
            {{#view User.UserView}}
            {{#if currentUser.is_connected}}
            |  {{currentUser.name}}
            |  {{#view SC.Button classBinding="isActive"
            |    target="User.userController"
            |    action="logout"}}
            |    Log Out
            |  {{/view}}
            {{else}}
            |  {{view User.UsernameEntry id="login-username" placeholder="Username"}}
            |  {{view User.PasswordEntry id="login-password" placeholder="Password"}}
            |  {{#view SC.Button classBinding="isActive"
            |    target="User.userController"
            |    action="login"}}
            |    Log In
            |  {{/view}}
            {{/if}}
            {{/view}}
        h1#title IdeaFreeMonoid
        nav#menu
          ul
            li
              a(href="/") Blog
            li
              a(href="/cv") CV
            li
              a(href="/gametheory") Game Theory
      #main(role="main")
        block maincontent
      footer

    script(type="text/javascript", src="js/jquery-1.7.min.js")
    script(type="text/javascript", src="js/showdown.js")
    script(type="text/javascript", src="js/underscore-min.js")
    script(type="text/javascript", src="js/sproutcore.min.js")
    script(type="text/javascript", src="js/jquery.couch.js")
    script(type="text/javascript", src="js/plugins.js")
    script(type="text/javascript", src="js/runtime.min.js")
    script(type="text/javascript", src="js/site.main.js")
    block scripts

    script(type="text/javascript")
      window._gaq = typeof _gaq !== "undefined" ? _gaq || [] : [];
      _gaq.push(['_setAccount', 'UA-18419792-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
